<!DOCTYPE html>
<html>

<head>
    <title>Monitoring Polusi Udara</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
    <style>
        body { margin: 0; padding-top: 100px; }
	    #map { position: absolute; top: 0; bottom: 0; width: 100%; padding-top: 100px; }
    </style>
    
    

</head>

<body class="bg-dark">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Sistem Monitoring Polusi Udara</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="container">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="idSensor">Sensor</label>
                                    <select name="idSensor" id="idSensor" onchange="" class="form-control">
                                        <option value="cd14">cd14 - Basestation Irman</option>
                                        <option value="015e" >015e - ESP8266 1 Rahmad</option>
                                        <option value="3F0D">3F0D - ESP8266 1 Fauzan</option>
                                    </select>
                                </div>
                            </div>                            

<div id="irman">
                            <div class="row my-5">

                                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <h5 class="card-title">Temperature</h5>
                                            <h1 class="text-success"><span id="valueCPUTemp">30</span><small>&#8451</small></h1>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <h5 class="card-title">Pressure</h5>
                                            <h1 class="text-success"><span id="valueMemoryLoad"></span><small>Pa</small></h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <h5 class="card-title">Humidity</h5>
                                            <h1 class="text-success"><span id="valueMemoryLoad"></span><small>%H</small></h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <h5 class="card-title">CO2</h5>
                                            <h1 class="text-success"><span id="valueMemoryLoad"></span><small>ppm</small></h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <h5 class="card-title">SO2</h5>
                                            <h1 class="text-success"><span id="valueMemoryLoad"></span><small>ppm</small></h1>
                                        </div>
                                    </div>
                                </div>
                    
                            </div>

                            <hr>
                            <h1>Temperature</h1>
                            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Max : </h5>            
                                    <h5 class="card-title">Min : </h5>
                                </div>
                            </div>

                            <canvas id="chartTemperature"></canvas>
                            <h1>Humidity</h1>
                            <canvas id="chartHumidity"></canvas>
                            <h1>Presure</h1>
                            <canvas id="chartPressure"></canvas>
                            <hr><hr>
                            
</div>

<!-- tampilan Rahmad -->
<div id="rahmad" style="display: none;">
                            <div class="row my-5">

                                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <h5 class="card-title">Temperature</h5>
                                            <h1 class="text-success"><span id="valueCPUTemp">30</span><small>&#8451</small></h1>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <h5 class="card-title">Pressure</h5>
                                            <h1 class="text-success"><span id="valueMemoryLoad"></span><small>Pa</small></h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <h5 class="card-title">Humidity</h5>
                                            <h1 class="text-success"><span id="valueMemoryLoad"></span><small>%H</small></h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <h5 class="card-title">CO2</h5>
                                            <h1 class="text-success"><span id="valueMemoryLoad"></span><small>ppm</small></h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <h5 class="card-title">SO2</h5>
                                            <h1 class="text-success"><span id="valueMemoryLoad"></span><small>ppm</small></h1>
                                        </div>
                                    </div>
                                </div>                    
                            </div>
                            <hr>

                            <h1>Temperature</h1>
                            <canvas id="chartTemperature_rahmad"></canvas>
                            <h1>Humidity</h1>
                            <canvas id="chartHumidity_rahmad"></canvas>
                            <h1>Pressure</h1>
                            <canvas id="chartPressure_rahmad"></canvas>
                            <h1></h1>
                            <canvas id="chartTemperature_rahmad"></canvas>
                            <h1>Height</h1>
                            <canvas id="chartHeight_rahmad"></canvas>
                            <h1>PM10</h1>
                            <canvas id="chartPM10_rahmad"></canvas>
                            <h1>CO</h1>
                            <canvas id="chartCO_rahmad"></canvas>
                            <h1>SO2</h1>
                            <canvas id="chartSO2_rahmad"></canvas>
                            <hr><hr>

</div>
<!-- batas tampilan rahmad -->
<!-- tampilan fau -->
<div id="fauzan" style="display: none;">
        
                            <div class="row my-5" style="height: 1000px; width: 1000px; padding-top: 100px;">
                                <h2>Maps</h2>
                                <!-- <canvas id="map"></canvas> -->
                                <div id="map"></div>
                            <!-- <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">Temperature</h5>
                                        <h1 class="text-success"><span id="valueCPUTemp">30</span><small>&#8451</small></h1>
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">Humidity</h5>
                                        <h1 class="text-success"><span id="valueMemoryLoad"></span><small>%H</small></h1>
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">CO2</h5>
                                        <h1 class="text-success"><span id="valueMemoryLoad"></span><small>ppm</small></h1>
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">CO</h5>
                                        <h1 class="text-success"><span id="valueMemoryLoad"></span><small>ppm</small></h1>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">PM 2.5</h5>
                                        <h1 class="text-success"><span id="valueMemoryLoad"></span><small>ppm</small></h1>
                                    </div>
                                </div>
                            </div>                       -->
                        </div>
                        <hr>
                        <!-- <h1>Temperature</h1>
                        <canvas id="chartTemperature_fau"></canvas>
                        <h1>Humidity</h1>
                        <canvas id="chartHumidity_fau"></canvas>
                        <h1>CO2</h1>
                        <canvas id="chartCO2_fau"></canvas>
                        <h1>CO</h1>
                        <canvas id="chartCO_fau"></canvas>
                        <h1>PM 2.5</h1>
                        <canvas id="chartPM25_fau"></canvas>
                        <hr><hr> -->
    
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        //  Bikin Object DOM
        var ctx1 = document.getElementById('chartTemperature').getContext('2d');
        var ctx2 = document.getElementById('chartHumidity').getContext('2d');
        var ctx3 = document.getElementById('chartPressure').getContext('2d');
        var ctx4 = document.getElementById('chartTemperature_rahmad').getContext('2d');
        var ctx5 = document.getElementById('chartHumidity_rahmad').getContext('2d');
        var ctx6 = document.getElementById('chartPressure_rahmad').getContext('2d');
        var ctx7 = document.getElementById('chartHeight_rahmad').getContext('2d');
        var ctx8 = document.getElementById('chartCO_rahmad').getContext('2d');
        var ctx9 = document.getElementById('chartSO2_rahmad').getContext('2d');
        var ctx10 = document.getElementById('chartPM10_rahmad').getContext('2d');
        // var ctx11 = document.getElementById('chartTemperature_fau').getContext('2d');        
        // var ctx12 = document.getElementById('chartHumidity_fau').getContext('2d');        
        // var ctx13 = document.getElementById('chartCO2_fau').getContext('2d');        
        // var ctx14 = document.getElementById('chartCO_fau').getContext('2d');        
        // var ctx15 = document.getElementById('chartPM25_fau').getContext('2d');
        var dataPoints = [];
        // Bikin Objek Chart dan Konfigurasinya
        var chart1 = new Chart(ctx1, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Temperature',
                    backgroundColor: '#ff7961',
                    borderColor: '#ba000d',
                    data: [],
                    lineTension: 0
                }]
            },
            options: {
                bezierCurve : true
            }
        });
        var chart2 = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Humidity',
                    backgroundColor: '#63a4ff',
                    borderColor: '#004ba0',
                    data: [],
                    lineTension: 0
                }]
            },
            options: {
                bezierCurve : true
            }
        });
        var chart3 = new Chart(ctx3, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Pressure',
                    backgroundColor: '#6abf69',
                    borderColor: '#00600f',
                    data: [],
                    lineTension: 0
                }]
            },
            options: {
                bezierCurve : true
            }
        });
        var chart4 = new Chart(ctx4, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Pressure',
                    backgroundColor: '#6abf69',
                    borderColor: '#00600f',
                    data: [],
                    lineTension: 0
                }]
            },
            options: {
                bezierCurve : true
            }
        });
        var chart5 = new Chart(ctx5, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Pressure',
                    backgroundColor: '#6abf69',
                    borderColor: '#00600f',
                    data: [],
                    lineTension: 0
                }]
            },
            options: {
                bezierCurve : true
            }
        });
        var chart6 = new Chart(ctx6, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Pressure',
                    backgroundColor: '#6abf69',
                    borderColor: '#00600f',
                    data: [],
                    lineTension: 0
                }]
            },
            options: {
                bezierCurve : true
            }
        });
        var chart7 = new Chart(ctx7, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Pressure',
                    backgroundColor: '#6abf69',
                    borderColor: '#00600f',
                    data: [],
                    lineTension: 0
                }]
            },
            options: {
                bezierCurve : true
            }
        });
        var chart8 = new Chart(ctx8, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'CO2',
                    backgroundColor: '#6abf69',
                    borderColor: '#00600f',
                    data: [],
                    lineTension: 0
                }]
            },
            options: {
                bezierCurve : true
            }
        });
        var chart9 = new Chart(ctx9, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Pressure',
                    backgroundColor: '#6abf69',
                    borderColor: '#00600f',
                    data: [],
                    lineTension: 0
                }]
            },
            options: {
                bezierCurve : true
            }
        });
        var chart10 = new Chart(ctx10, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Pressure',
                    backgroundColor: '#6abf69',
                    borderColor: '#00600f',
                    data: [],
                    lineTension: 0
                }]
            },
            options: {
                bezierCurve : true
            }
        });
        // Get Datanya pakae AJAX

        //data dari IRMAN
        $.getJSON("getAverage?sensor=temperature&id=cd14", function (data) {
            data.forEach(element => {
                chart1.data.labels.push(element.time);
                if(element.mean != null){
                    chart1.data.datasets[0].data.push(Number.parseFloat(element.mean))
                } else {
                    chart1.data.datasets[0].data.push(0)
                }
            });
            chart1.update();
        });
        $.getJSON("getAverage?sensor=humidity&id=cd14", function (data) {
            data.forEach(element => {
                chart2.data.labels.push(element.time);
                if(element.mean != null){
                    chart2.data.datasets[0].data.push(Number.parseFloat(element.mean))
                } else {
                    chart2.data.datasets[0].data.push(0)
                }
            });
            chart2.update();
        });
        $.getJSON("getAverage?sensor=pressure&id=cd14", function (data) {
            data.forEach(element => {
                chart3.data.labels.push(element.time);
                if(element.mean != null){
                    chart3.data.datasets[0].data.push(Number.parseFloat(element.mean))
                } else {
                    chart3.data.datasets[0].data.push(0)
                }
            });
            chart3.update();
        });


        //data dari rahmad

        $.getJSON("getAverageRahmad?sensor=temperature&id=025f", function (data) {
            data.forEach(element => {
                chart4.data.labels.push(element.time);
                if(element.mean != null){
                    chart4.data.datasets[0].data.push(Number.parseFloat(element.mean))
                } else {
                    chart4.data.datasets[0].data.push(0)
                }
            });
            chart4.update();
        });
        $.getJSON("getAverageRahmad?sensor=humidity&id=025f", function (data) {
            data.forEach(element => {
                chart5.data.labels.push(element.time);
                if(element.mean != null){
                    chart5.data.datasets[0].data.push(Number.parseFloat(element.mean))
                } else {
                    chart5.data.datasets[0].data.push(0)
                }
            });
            chart5.update();
        });
        $.getJSON("getAverageRahmad?sensor=pressure&id=025f", function (data) {
            data.forEach(element => {
                chart6.data.labels.push(element.time);
                if(element.mean != null){
                    chart6.data.datasets[0].data.push(Number.parseFloat(element.mean))
                } else {
                    chart6.data.datasets[0].data.push(0)
                }
            });
            chart6.update();
        });
        $.getJSON("getAverageRahmad?sensor=height&id=025f", function (data) {
            data.forEach(element => {
                chart7.data.labels.push(element.time);
                if(element.mean != null){
                    chart7.data.datasets[0].data.push(Number.parseFloat(element.mean))
                } else {
                    chart7.data.datasets[0].data.push(0)
                }
            });
            chart7.update();
        });
        $.getJSON("getAverageRahmad?sensor=co&id=015e", function (data) {
            data.forEach(element => {
                chart8.data.labels.push(element.time);
                if(element.mean != null){
                    chart8.data.datasets[0].data.push(Number.parseFloat(element.mean))
                } else {
                    chart8.data.datasets[0].data.push(0)
                }
            });
            chart8.update();
        });
        $.getJSON("getAverageRahmad?sensor=so2&id=015e", function (data) {
            data.forEach(element => {
                chart9.data.labels.push(element.time);
                if(element.mean != null){
                    chart9.data.datasets[0].data.push(Number.parseFloat(element.mean))
                } else {
                    chart9.data.datasets[0].data.push(0)
                }
            });
            chart9.update();
        });
        $.getJSON("getAverageRahmad?sensor=pm.10&id=015e", function (data) {
            data.forEach(element => {
                chart10.data.labels.push(element.time);
                if(element.mean != null){
                    chart10.data.datasets[0].data.push(Number.parseFloat(element.mean))
                } else {
                    chart10.data.datasets[0].data.push(0)
                }
            });
            chart10.update();
        });


        // // DATA DARI FAU
        // $.getJSON("getAverageRahmad?sensor=temperature&id=3F0D", function (data) {
        //     data.forEach(element => {
        //         chart11.data.labels.push(element.time);
        //         if(element.mean != null){
        //             chart11.data.datasets[0].data.push(Number.parseFloat(element.mean))
        //         } else {
        //             chart11.data.datasets[0].data.push(0)
        //         }
        //     });
        //     chart11.update();
        // });
        // $.getJSON("getAverageRahmad?sensor=humidity&id=3F0D", function (data) {
        //     data.forEach(element => {
        //         chart12.data.labels.push(element.time);
        //         if(element.mean != null){
        //             chart12.data.datasets[0].data.push(Number.parseFloat(element.mean))
        //         } else {
        //             chart12.data.datasets[0].data.push(0)
        //         }
        //     });
        //     chart12.update();
        // });
        // $.getJSON("getAverageRahmad?sensor=co2&id=3F0D", function (data) {
        //     data.forEach(element => {
        //         chart13.data.labels.push(element.time);
        //         if(element.mean != null){
        //             chart13.data.datasets[0].data.push(Number.parseFloat(element.mean))
        //         } else {
        //             chart13.data.datasets[0].data.push(0)
        //         }
        //     });
        //     chart13.update();
        // });
        // $.getJSON("getAverageRahmad?sensor=co&id=3F0D", function (data) {
        //     data.forEach(element => {
        //         chart14.data.labels.push(element.time);
        //         if(element.mean != null){
        //             chart14.data.datasets[0].data.push(Number.parseFloat(element.mean))
        //         } else {
        //             chart14.data.datasets[0].data.push(0)
        //         }
        //     });
        //     chart14.update();
        // });
        // $.getJSON("getAverageRahmad?sensor=pm.10&id=3F0D", function (data) {
        //     data.forEach(element => {
        //         chart15.data.labels.push(element.time);
        //         if(element.mean != null){
        //             chart15.data.datasets[0].data.push(Number.parseFloat(element.mean))
        //         } else {
        //             chart15.data.datasets[0].data.push(0)
        //         }
        //     });
        //     chart15.update();
        // });
        // $.getJSON("http://192.168.1.14:8000/getData?id=015e", function (data) {
        //     data.forEach(element => {
        //         chart.data.labels.push(element.time);
        //         chart.data.datasets[0].data.push(element.value)
        //     });
        //     chart.update();
        // });




        $(document).ready(function(){
            $('#idSensor').change(function(){
                var a = $(this). children("option:selected"). val();
                console.log(a);
                if (a == "cd14"){
                    $('#irman').show(200);
                    $('#rahmad').hide();
                    $('#rahmad2').hide();
                    $('#fauzan').hide();
                }
                else if(a == "015e"){
                    $('#rahmad').show(200);
                    $('#irman').hide(200);
                    $('#rahmad2').hide();
                    $('#fauzan').hide();
                }
                else if(a == "3F0D"){
                    $('#fauzan').show(200);
                    $('#irman').hide(200);
                    $('#rahmad').hide();
                    $('#rahmad2').hide();
                }
            });
        });  

        // map

        
	// mapboxgl.accessToken = 'pk.eyJ1IjoiZmF0aW1haDE0IiwiYSI6ImNrZWZuNmE0ODB2ajUydGxnbWljYXp6OW4ifQ.53UTfZmsMUXJjDmF9OVYBg';
    //     var map = new mapboxgl.Map({
    //     container: 'map',
    //     style: 'mapbox://styles/mapbox/streets-v11',
    //     center: [-77.04, 38.907],
    //     zoom: 11.15
    //     });
        
    //     map.on('load', function() {
    //     map.addSource('places', {
    //     'type': 'geojson',
    //     'data': {
    //     'type': 'FeatureCollection',
    //     'features': [
    //     {
    //     'type': 'Feature',
    //     'properties': {
    //     'description':
    //     '<strong>Make it Mount Pleasant</strong><p><a href="http://www.mtpleasantdc.com/makeitmtpleasant" target="_blank" title="Opens in a new window">Make it Mount Pleasant</a> is a handmade and vintage market and afternoon of live entertainment and kids activities. 12:00-6:00 p.m.</p>',
    //     'icon': 'theatre'
    //     },
    //     'geometry': {
    //     'type': 'Point',
    //     'coordinates': [-77.038659, 38.931567]
    //     }
    //     },
    //     ]
    //     }
    //     });
    //     // Add a layer showing the places.
    //     map.addLayer({
    //     'id': 'places',
    //     'type': 'symbol',
    //     'source': 'places',
    //     'layout': {
    //     'icon-image': '{icon}-15',
    //     'icon-allow-overlap': true
    //     }
    //     });
        
    //     // When a click event occurs on a feature in the places layer, open a popup at the
    //     // location of the feature, with description HTML from its properties.
    //     map.on('click', 'places', function(e) {
    //     var coordinates = e.features[0].geometry.coordinates.slice();
    //     var description = e.features[0].properties.description;
        
    //     // Ensure that if the map is zoomed out such that multiple
    //     // copies of the feature are visible, the popup appears
    //     // over the copy being pointed to.
    //     while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
    //     coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
    //     }
        
    //     new mapboxgl.Popup()
    //     .setLngLat(coordinates)
    //     .setHTML(description)
    //     .addTo(map);
    //     });
        
    //     // Change the cursor to a pointer when the mouse is over the places layer.
    //     map.on('mouseenter', 'places', function() {
    //     map.getCanvas().style.cursor = 'pointer';
    //     });
        
    //     // Change it back to a pointer when it leaves.
    //     map.on('mouseleave', 'places', function() {
    //     map.getCanvas().style.cursor = '';
    //     });
    //     });
    
	mapboxgl.accessToken = 'pk.eyJ1IjoiZmF0aW1haDE0IiwiYSI6ImNrZWZuNmE0ODB2ajUydGxnbWljYXp6OW4ifQ.53UTfZmsMUXJjDmF9OVYBg';
        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [12.550343, 55.665957],
        zoom: 8
        });
        
        var marker = new mapboxgl.Marker()
        .setLngLat([12.550343, 55.665957])
        .addTo(map);
    
        
    </script>
</body>

</html>